body, html {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: rgb(0, 0, 0);
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

.terminal {
	background-color: rgb(0, 0, 0);
	color: rgb(36, 206, 6);
	font-size: 20pt;
	padding-left: 10px;
}

.terminal.terminal-input {
	border: none;
	border-top: 1px solid gray;
	position: fixed;
	bottom: 0;
	width: 100vw;
	height: 4vh;
}

.terminal.terminal-output {
	white-space: pre-line;
}

.terminal.terminal-output > .status {
}

.terminal.terminal-output > .error {
	color: rgb(200, 10, 10);
}
